.gradle
/build/
target/
.DS_Store
out/
.settings/
.classpath
.project
.factorypath
.micronaut/
**/.micronaut/test-resources/
*.log

# Ignore Gradle GUI config
gradle-app.setting
.mvn/.develocity

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.idea
*.iml
*.ipr
*.iws
.sisyphus/
